In [1]:
import pandas as pd
import numpy as np

In [3]:
immo = pd.read_csv('../../data/ml/train_immo_100_more_k_12_10.csv',sep=',',dtype= {'code_commune' : str})

In [ ]:
immo.shape

In [4]:
immo.head()

     id_bien  month  year    surface  nb_mutation      valeur
0  93072_2_4      1  2014  70.000000          5.0  179202.804
1  93072_2_4      2  2014  72.666667          3.0  204337.850
2  93072_2_4      3  2014  74.500000          2.0  142500.000
3  93072_2_4      4  2014  79.000000          3.0  193708.880
4  93072_2_4      5  2014  68.750000          4.0  169725.465

### Création de la variable mois

In [5]:
immo["mois"] = immo["month"] + (immo["year"] - 2014) * 12

In [6]:
immo.sort_values(by=['id_bien','month']).head()

          id_bien  month  year  surface  nb_mutation    valeur  mois
14100   01004_1_4      1  2014    104.0          1.0  239000.0     1
65988   01004_1_4      1  2015     86.0          4.0  147562.5    13
119748  01004_1_4      1  2016      0.0          0.0       0.0    25
171552  01004_1_4      1  2017    102.0          1.0  200000.0    37
14101   01004_1_4      2  2014     91.0          1.0  215000.0     2

### On enlève les variables inutiles

In [7]:
immo = immo.drop(columns=["surface","nb_mutation",'month','year'])

In [8]:
immo.sort_values(by=['mois','id_bien']).head(20)

         id_bien         valeur  mois
14100  01004_1_4  239000.000000     1
15384  01004_1_5  276000.000000     1
16392  01004_2_2  108212.500000     1
14808  01004_2_3  142000.000000     1
14088  01033_2_2  114575.000000     1
15084  01033_2_3  282000.000000     1
15096  01033_2_4  161278.000000     1
552    01053_1_4  135000.000000     1
10944  01053_1_5       0.000000     1
6948   01053_2_1  280256.533333     1
2664   01053_2_2  127012.500000     1
1224   01053_2_3  105541.666667     1
2856   01053_2_4  122428.571429     1
5880   01053_2_5  180000.000000     1
13980  01143_2_2       0.000000     1
16380  01143_2_3       0.000000     1
14052  01143_2_4  427791.102000     1
18372  01160_2_2  656889.630000     1
15948  01160_2_3  375401.333333     1
19260  01160_2_4  269150.000000     1

### Feature enginneering - ajout des variables observées à  t-i  ( lagk) avec i  dans [[1;k]]

In [44]:
cols_to_extract = ['valeur']

In [45]:
immo2 = immo.copy()
immo2 = immo2.sort_values(['mois','id_bien'])

In [46]:
k = 12

In [47]:
for i in range(1,k+1):
    lag1 = list(map(lambda x: x + "-"+str(i),cols_to_extract))
    immo2[lag1] = immo2.groupby(['id_bien'])[cols_to_extract].shift(i)

In [48]:
immo2.sort_values(by=['id_bien','mois']).head(20)

,id_bien,valeur,mois,valeur-1,valeur-2,valeur-3,valeur-4,valeur-5,valeur-6,valeur-7,valeur-8,valeur-9,valeur-10,valeur-11,valeur-12
14100,01004_1_4,239000.000000,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14101,01004_1_4,215000.000000,2,239000.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14102,01004_1_4,0.000000,3,215000.000000,239000.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14103,01004_1_4,166590.000000,4,0.000000,215000.000000,239000.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14104,01004_1_4,0.000000,5,166590.000000,0.000000,215000.000000,239000.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14105,01004_1_4,100500.000000,6,0.000000,166590.000000,0.000000,215000.000000,239000.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14106,01004_1_4,150000.000000,7,100500.000000,0.000000,166590.000000,0.000000,215000.000000,239000.000000,NaN,NaN,NaN,NaN,NaN,NaN
14107,01004_1_4,177893.750000,8,150000.000000,100500.000000,0.000000,166590.000000,0.000000,215000.000000,239000.000000,NaN,NaN,NaN,NaN,NaN
14108,01004_1_4,188550.000000,9,177893.750000,150000.000000,100500.000000,0.000000,166590.000000,0.000000,215000.000000,239000.000000,NaN,NaN,NaN,NaN
14109,01004_1_4,200000.000000,10,188550.000000,177893.750000,150000.000000,100500.000000,0.000000,166590.000000,0.000000,215000.000000,239000.000000,NaN,NaN,NaN
14110,01004_1_4,193416.666667,11,200000.000000,188550.000000,177893.750000,150000.000000,100500.000000,0.000000,166590.000000,0.000000,215000.000000,239000.00,NaN,NaN
14111,01004_1_4,102833.666667,12,193416.666667,200000.000000,188550.000000,177893.750000,150000.000000,100500.000000,0.000000,166590.000000,0.000000,215000.00,239000.00,NaN
65988,01004_1_4,147562.500000,13,102833.666667,193416.666667,200000.000000,188550.000000,177893.750000,150000.000000,100500.000000,0.000000,166590.000000,0.00,215000.00,239000.00
65989,01004_1_4,151537.500000,14,147562.500000,102833.666667,193416.666667,200000.000000,188550.000000,177893.750000,150000.000000,100500.000000,0.000000,166590.00,0.00,215000.00
65990,01004_1_4,188900.000000,15,151537.500000,147562.500000,102833.666667,193416.666667,200000.000000,188550.000000,177893.750000,150000.000000,100500.000000,0.00,166590.00,0.00
65991,01004_1_4,192850.000000,16,188900.000000,151537.500000,147562.500000,102833.666667,193416.666667,200000.000000,188550.000000,177893.750000,150000.000000,100500.00,0.00,166590.00
65992,01004_1_4,180000.000000,17,192850.000000,188900.000000,151537.500000,147562.500000,102833.666667,193416.666667,200000.000000,188550.000000,177893.750000,150000.00,100500.00,0.00
65993,01004_1_4,295318.000000,18,180000.000000,192850.000000,188900.000000,151537.500000,147562.500000,102833.666667,193416.666667,200000.000000,188550.000000,177893.75,150000.00,100500.00
65994,01004_1_4,174625.000000,19,295318.000000,180000.000000,192850.000000,188900.000000,151537.500000,147562.500000,102833.666667,193416.666667,200000.000000,188550.00,177893.75,150000.00
65995,01004_1_4,217600.000000,20,174625.000000,295318.000000,180000.000000,192850.000000,188900.000000,151537.500000,147562.500000,102833.666667,193416.666667,200000.00,188550.00,177893.75

### Feature enginneering - ajout des différences entre t-i et t-(i+1) (diffi) pour i dans [[1;k]]

In [49]:
k=10
for i in range(1,k+1):
    lag1 = list(map(lambda x: x + "-"+str(i),cols_to_extract))
    diff1 = list(map(lambda x: x + "_diff-"+str(i)+"-"+str(i+1),cols_to_extract))
    immo2[diff1] = immo2.groupby(['id_bien'])[lag1].diff()

In [50]:
immo2.sort_values(by=['id_bien','mois']).head(20)

,id_bien,valeur,mois,valeur-1,valeur-2,valeur-3,valeur-4,valeur-5,valeur-6,valeur-7,...,valeur_diff-1-2,valeur_diff-2-3,valeur_diff-3-4,valeur_diff-4-5,valeur_diff-5-6,valeur_diff-6-7,valeur_diff-7-8,valeur_diff-8-9,valeur_diff-9-10,valeur_diff-10-11
14100,01004_1_4,239000.000000,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14101,01004_1_4,215000.000000,2,239000.000000,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14102,01004_1_4,0.000000,3,215000.000000,239000.000000,NaN,NaN,NaN,NaN,NaN,...,-24000.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14103,01004_1_4,166590.000000,4,0.000000,215000.000000,239000.000000,NaN,NaN,NaN,NaN,...,-215000.000000,-24000.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14104,01004_1_4,0.000000,5,166590.000000,0.000000,215000.000000,239000.000000,NaN,NaN,NaN,...,166590.000000,-215000.000000,-24000.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14105,01004_1_4,100500.000000,6,0.000000,166590.000000,0.000000,215000.000000,239000.000000,NaN,NaN,...,-166590.000000,166590.000000,-215000.000000,-24000.000000,NaN,NaN,NaN,NaN,NaN,NaN
14106,01004_1_4,150000.000000,7,100500.000000,0.000000,166590.000000,0.000000,215000.000000,239000.000000,NaN,...,100500.000000,-166590.000000,166590.000000,-215000.000000,-24000.000000,NaN,NaN,NaN,NaN,NaN
14107,01004_1_4,177893.750000,8,150000.000000,100500.000000,0.000000,166590.000000,0.000000,215000.000000,239000.000000,...,49500.000000,100500.000000,-166590.000000,166590.000000,-215000.000000,-24000.000000,NaN,NaN,NaN,NaN
14108,01004_1_4,188550.000000,9,177893.750000,150000.000000,100500.000000,0.000000,166590.000000,0.000000,215000.000000,...,27893.750000,49500.000000,100500.000000,-166590.000000,166590.000000,-215000.000000,-24000.000000,NaN,NaN,NaN
14109,01004_1_4,200000.000000,10,188550.000000,177893.750000,150000.000000,100500.000000,0.000000,166590.000000,0.000000,...,10656.250000,27893.750000,49500.000000,100500.000000,-166590.000000,166590.000000,-215000.000000,-24000.000000,NaN,NaN
14110,01004_1_4,193416.666667,11,200000.000000,188550.000000,177893.750000,150000.000000,100500.000000,0.000000,166590.000000,...,11450.000000,10656.250000,27893.750000,49500.000000,100500.000000,-166590.000000,166590.000000,-215000.000000,-24000.000000,NaN
14111,01004_1_4,102833.666667,12,193416.666667,200000.000000,188550.000000,177893.750000,150000.000000,100500.000000,0.000000,...,-6583.333333,11450.000000,10656.250000,27893.750000,49500.000000,100500.000000,-166590.000000,166590.000000,-215000.000000,-24000.00
65988,01004_1_4,147562.500000,13,102833.666667,193416.666667,200000.000000,188550.000000,177893.750000,150000.000000,100500.000000,...,-90583.000000,-6583.333333,11450.000000,10656.250000,27893.750000,49500.000000,100500.000000,-166590.000000,166590.000000,-215000.00
65989,01004_1_4,151537.500000,14,147562.500000,102833.666667,193416.666667,200000.000000,188550.000000,177893.750000,150000.000000,...,44728.833333,-90583.000000,-6583.333333,11450.000000,10656.250000,27893.750000,49500.000000,100500.000000,-166590.000000,166590.00
65990,01004_1_4,188900.000000,15,151537.500000,147562.500000,102833.666667,193416.666667,200000.000000,188550.000000,177893.750000,...,3975.000000,44728.833333,-90583.000000,-6583.333333,11450.000000,10656.250000,27893.750000,49500.000000,100500.000000,-166590.00
65991,01004_1_4,192850.000000,16,188900.000000,151537.500000,147562.500000,102833.666667,193416.666667,200000.000000,188550.000000,...,37362.500000,3975.000000,44728.833333,-90583.000000,-6583.333333,11450.000000,10656.250000,27893.750000,49500.000000,100500.00
65992,01004_1_4,180000.000000,17,192850.000000,188900.000000,151537.500000,147562.500000,102833.666667,193416.666667,200000.000000,...,3950.000000,37362.500000,3975.000000,44728.833333,-90583.000000,-6583.333333,11450.000000,10656.250000,27893.750000,49500.00
65993,01004_1_4,295318.000000,18,180000.000000,192850.000000,188900.000000,151537.500000,147562.500000,102833.666667,193416.666667,...,-12850.000000,3950.000000,37362.500000,3975.000000,44728.833333,-90583.000000,-6583.333333,11450.000000,10656.250000,27893.75
65994,01004_1_4,174625.000000,19,295318.000000,180000.000000,192850.000000,188900.000000,151537.500000,147562.500000,102833.666667,...,115318.000000,-12850.000000,3950.000000,37362.500000,3975.000000,44728.833333,-90583.000000,-6583.333333,11450.000000,10656.25
65995,01004_1_4,217600.000000,20,174625.000000,295318.000000,180000.000000,192850.000000,188900.000000,151537.500000,147562.500000,...,-120693.000000,115318.000000,-12850.000000,3950.000000,37362.500000,3975.000000,44728.833333,-90583.000000,-6583.333333,11450.00

In [51]:
immo2.shape

(228000, 25)

In [52]:
immo_train = immo2.dropna()

In [53]:
immo_train.shape

(171000, 25)

### Export

In [54]:
immo_train.to_csv('../../data/ml/train_immo_100_more_k_12_10.csv',index=False)

In [55]:
immo_train.sort_values(by=['id_bien','mois']).head(50)

,id_bien,valeur,mois,valeur-1,valeur-2,valeur-3,valeur-4,valeur-5,valeur-6,valeur-7,...,valeur_diff-1-2,valeur_diff-2-3,valeur_diff-3-4,valeur_diff-4-5,valeur_diff-5-6,valeur_diff-6-7,valeur_diff-7-8,valeur_diff-8-9,valeur_diff-9-10,valeur_diff-10-11
65988,01004_1_4,147562.500000,13,102833.666667,193416.666667,200000.000000,188550.000000,177893.750000,150000.000000,100500.000000,...,-90583.000000,-6583.333333,11450.000000,10656.250000,27893.750000,49500.000000,100500.000000,-166590.000000,166590.000000,-215000.000000
65989,01004_1_4,151537.500000,14,147562.500000,102833.666667,193416.666667,200000.000000,188550.000000,177893.750000,150000.000000,...,44728.833333,-90583.000000,-6583.333333,11450.000000,10656.250000,27893.750000,49500.000000,100500.000000,-166590.000000,166590.000000
65990,01004_1_4,188900.000000,15,151537.500000,147562.500000,102833.666667,193416.666667,200000.000000,188550.000000,177893.750000,...,3975.000000,44728.833333,-90583.000000,-6583.333333,11450.000000,10656.250000,27893.750000,49500.000000,100500.000000,-166590.000000
65991,01004_1_4,192850.000000,16,188900.000000,151537.500000,147562.500000,102833.666667,193416.666667,200000.000000,188550.000000,...,37362.500000,3975.000000,44728.833333,-90583.000000,-6583.333333,11450.000000,10656.250000,27893.750000,49500.000000,100500.000000
65992,01004_1_4,180000.000000,17,192850.000000,188900.000000,151537.500000,147562.500000,102833.666667,193416.666667,200000.000000,...,3950.000000,37362.500000,3975.000000,44728.833333,-90583.000000,-6583.333333,11450.000000,10656.250000,27893.750000,49500.000000
65993,01004_1_4,295318.000000,18,180000.000000,192850.000000,188900.000000,151537.500000,147562.500000,102833.666667,193416.666667,...,-12850.000000,3950.000000,37362.500000,3975.000000,44728.833333,-90583.000000,-6583.333333,11450.000000,10656.250000,27893.750000
65994,01004_1_4,174625.000000,19,295318.000000,180000.000000,192850.000000,188900.000000,151537.500000,147562.500000,102833.666667,...,115318.000000,-12850.000000,3950.000000,37362.500000,3975.000000,44728.833333,-90583.000000,-6583.333333,11450.000000,10656.250000
65995,01004_1_4,217600.000000,20,174625.000000,295318.000000,180000.000000,192850.000000,188900.000000,151537.500000,147562.500000,...,-120693.000000,115318.000000,-12850.000000,3950.000000,37362.500000,3975.000000,44728.833333,-90583.000000,-6583.333333,11450.000000
65996,01004_1_4,359570.000000,21,217600.000000,174625.000000,295318.000000,180000.000000,192850.000000,188900.000000,151537.500000,...,42975.000000,-120693.000000,115318.000000,-12850.000000,3950.000000,37362.500000,3975.000000,44728.833333,-90583.000000,-6583.333333
65997,01004_1_4,195738.714286,22,359570.000000,217600.000000,174625.000000,295318.000000,180000.000000,192850.000000,188900.000000,...,141970.000000,42975.000000,-120693.000000,115318.000000,-12850.000000,3950.000000,37362.500000,3975.000000,44728.833333,-90583.000000
65998,01004_1_4,125825.000000,23,195738.714286,359570.000000,217600.000000,174625.000000,295318.000000,180000.000000,192850.000000,...,-163831.285714,141970.000000,42975.000000,-120693.000000,115318.000000,-12850.000000,3950.000000,37362.500000,3975.000000,44728.833333
65999,01004_1_4,149625.000000,24,125825.000000,195738.714286,359570.000000,217600.000000,174625.000000,295318.000000,180000.000000,...,-69913.714286,-163831.285714,141970.000000,42975.000000,-120693.000000,115318.000000,-12850.000000,3950.000000,37362.500000,3975.000000
119748,01004_1_4,0.000000,25,149625.000000,125825.000000,195738.714286,359570.000000,217600.000000,174625.000000,295318.000000,...,23800.000000,-69913.714286,-163831.285714,141970.000000,42975.000000,-120693.000000,115318.000000,-12850.000000,3950.000000,37362.500000
119749,01004_1_4,0.000000,26,0.000000,149625.000000,125825.000000,195738.714286,359570.000000,217600.000000,174625.000000,...,-149625.000000,23800.000000,-69913.714286,-163831.285714,141970.000000,42975.000000,-120693.000000,115318.000000,-12850.000000,3950.000000
119750,01004_1_4,185500.000000,27,0.000000,0.000000,149625.000000,125825.000000,195738.714286,359570.000000,217600.000000,...,0.000000,-149625.000000,23800.000000,-69913.714286,-163831.285714,141970.000000,42975.000000,-120693.000000,115318.000000,-12850.000000
119751,01004_1_4,162725.000000,28,185500.000000,0.000000,0.000000,149625.000000,125825.000000,195738.714286,359570.000000,...,185500.000000,0.000000,-149625.000000,23800.000000,-69913.714286,-163831.285714,141970.000000,42975.000000,-120693.000000,115318.000000
119752,01004_1_4,179800.000000,29,162725.000000,185500.000000,0.000000,0.000000,149625.000000,125825.000000,195738.714286,...,-22775.000000,185500.000000,0.000000,-149625.000000,23800.000000,-69913.714286,-163831.285714,141970.000000,42975.000000,-120693.000000
119753,01004_1_4,174388.000000,30,179800.000000,162725.000000,185500.000000,0.000000,0.000000,149625.000000,125825.000000,...,17075.000000,-22775.000000,185500.000000,0.000000,-149625.000000,23800.000000,-69913.714286,-163831.285714,141970.000000,42975.000000
119754,01004_1_4,171214.600000,31,174388.000000,179800.000000,162725.000000,185500.000000,0.000000,0.000000,149625.000000,...,-5412.000000,17075.000000,-22775.000000,185500.000000,0.000000,-149625.000000,23800.000000,-69913.714286,-163831.285714,141970.000000
119755,01004_1_4,186241.333333,32,171214.600000,174388.000000,179800.000000,162725.000000,185500.000000,0.000000,0.000000,...,-3173.400000,-5412.000000,17075.000000,-22775.000000,185500.000000,0.000000,-149625.000000,23800.000000,-69913.714286,-163831.285714
119756,01004_1_4,188425.000000,33,186241.333333,171214.600000,174388.000000,179800.000000,162725.000000,185500.000000,0.000000,...,15026.733333,-3173.400000,-5412.000000,17075.000000,-22775.000000,185500.000000,0.000000,-149625.000000,23800.000000,-69913.714286
119757,01004_1_4,175575.000000,34,188425.000000,186241.333333,171214.600000,174388.000000,179800.000000,162725.000000,185500.000000,...,2183.666667,15026.733333,-3173.400000,-5412.000000,17075.000000,-22775.000000,185500.000000,0.000000,-149625.000000,23800.000000
119758,01004_1_4,326538.000000,35,175575.000000,188425.000000,186241.333333,171214.600000,174388.000000,179800.000000,162725.000000,...,-12850.000000,2183.666667,15026.733333,-3173.400000,-5412.000000,17075.000000,-22775.000000,185500.000000,0.000000,-149625.000000
119759,01004_1_4,198000.000000,36,326538.000000,175575.000000,188425.000000,186241.333333,171214.600000,174388.000000,179800.000000,...,150963.000000,-12850.000000,2183.666667,15026.733333,-3173.400000,-5412.000000,17075.000000,-22775.000000,185500.000000,0.000000
171552,01004_1_4,200000.000000,37,198000.000000,326538.000000,175575.000000,188425.000000,186241.333333,171214.600000,174388.000000,...,-128538.000000,150963.000000,-12850.000000,2183.666667,15026.733333,-3173.400000,-5412.000000,17075.000000,-22775.000000,185500.000000
171553,01004_1_4,266647.333333,38,200000.000000,198000.000000,326538.000000,175575.000000,188425.000000,186241.333333,171214.600000,...,2000.000000,-128538.000000,150963.000000,-12850.000000,2183.666667,15026.733333,-3173.400000,-5412.000000,17075.000000,-22775.000000
171554,01004_1_4,155775.000000,39,266647.333333,200000.000000,198000.000000,326538.000000,175575.000000,188425.000000,186241.333333,...,66647.333333,2000.000000,-128538.000000,150963.000000,-12850.000000,2183.666667,15026.733333,-3173.400000,-5412.000000,17075.000000
171555,01004_1_4,189733.333333,40,155775.000000,266647.333333,200000.000000,198000.000000,326538.000000,175575.000000,188425.000000,...,-110872.333333,66647.333333,2000.000000,-128538.000000,150963.000000,-12850.000000,2183.666667,15026.733333,-3173.400000,-5412.000000
171556,01004_1_4,175300.000000,41,189733.333333,155775.000000,266647.333333,200000.000000,198000.000000,326538.000000,175575.000000,...,33958.333333,-110872.333333,66647.333333,2000.000000,-128538.000000,150963.000000,-12850.000000,2183.666667,15026.733333,-3173.400000
171557,01004_1_4,170120.000000,42,175300.000000,189733.333333,155775.000000,266647.333333,200000.000000,198000.000000,326538.000000,...,-14433.333333,33958.333333,-110872.333333,66647.333333,2000.000000,-128538.000000,150963.000000,-12850.000000,2183.666667,15026.733333
171558,01004_1_4,200833.333333,43,170120.000000,175300.000000,189733.333333,155775.000000,266647.333333,200000.000000,198000.000000,...,-5180.000000,-14433.333333,33958.333333,-110872.333333,66647.333333,2000.000000,-128538.000000,150963.000000,-12850.000000,2183.666667
171559,01004_1_4,181500.000000,44,200833.333333,170120.000000,175300.000000,189733.333333,155775.000000,266647.333333,200000.000000,...,30713.333333,-5180.000000,-14433.333333,33958.333333,-110872.333333,66647.333333,2000.000000,-128538.000000,150963.000000,-12850.000000
171560,01004_1_4,125000.000000,45,181500.000000,200833.333333,170120.000000,175300.000000,189733.333333,155775.000000,266647.333333,...,-19333.333333,30713.333333,-5180.000000,-14433.333333,33958.333333,-110872.333333,66647.333333,2000.000000,-128538.000000,150963.000000
171561,01004_1_4,216350.000000,46,125000.000000,181500.000000,200833.333333,170120.000000,175300.000000,189733.333333,155775.000000,...,-56500.000000,-19333.333333,30713.333333,-5180.000000,-14433.333333,33958.333333,-110872.333333,66647.333333,2000.000000,-128538.000000
171562,01004_1_4,154981.166667,47,216350.000000,125000.000000,181500.000000,200833.333333,170120.000000,175300.000000,189733.333333,...,91350.000000,-56500.000000,-19333.333333,30713.333333,-5180.000000,-14433.333333,33958.333333,-110872.333333,66647.333333,2000.000000
171563,01004_1_4,185637.142857,48,154981.166667,216350.000000,125000.000000,181500.000000,200833.333333,170120.000000,175300.000000,...,-61368.833333,91350.000000,-56500.000000,-19333.333333,30713.333333,-5180.000000,-14433.333333,33958.333333,-110872.333333,66647.333333
68688,01004_1_5,226500.000000,13,875000.000000,0.000000,172430.500000,420875.000000,207883.333333,161445.000000,178897.500000,...,875000.000000,-172430.500000,-248444.500000,212991.666667,46438.333333,-17452.500000,54542.500000,-6895.000000,695.000000,-87236.750000
68689,01004_1_5,201325.000000,14,226500.000000,875000.000000,0.000000,172430.500000,420875.000000,207883.333333,161445.000000,...,-648500.000000,875000.000000,-172430.500000,-248444.500000,212991.666667,46438.333333,-17452.500000,54542.500000,-6895.000000,695.000000
68690,01004_1_5,0.000000,15,201325.000000,226500.000000,875000.000000,0.000000,172430.500000,420875.000000,207883.333333,...,-25175.000000,-648500.000000,875000.000000,-172430.500000,-248444.500000,212991.666667,46438.333333,-17452.500000,54542.500000,-6895.000000
68691,01004_1_5,198000.000000,16,0.000000,201325.000000,226500.000000,875000.000000,0.000000,172430.500000,420875.000000,...,-201325.000000,-25175.000000,-648500.000000,875000.000000,-172430.500000,-248444.500000,212991.666667,46438.333333,-17452.500000,54542.500000
68692,01004_1_5,199000.000000,17,198000.000000,0.000000,201325.000000,226500.000000,875000.000000,0.000000,172430.500000,...,198000.000000,-201325.000000,-25175.000000,-648500.000000,875000.000000,-172430.500000,-248444.500000,212991.666667,46438.333333,-17452.500000
68693,01004_1_5,284383.333333,18,199000.000000,198000.000000,0.000000,201325.000000,226500.000000,875000.000000,0.000000,...,1000.000000,198000.000000,-201325.000000,-25175.000000,-648500.000000,875000.000000,-172430.500000,-248444.500000,212991.666667,46438.333333
68694,01004_1_5,143250.000000,19,284383.333333,199000.000000,198000.000000,0.000000,201325.000000,226500.000000,875000.000000,...,85383.333333,1000.000000,198000.000000,-201325.000000,-25175.000000,-648500.000000,875000.000000,-172430.500000,-248444.500000,212991.666667
68695,01004_1_5,179486.666667,20,143250.000000,284383.333333,199000.000000,198000.000000,0.000000,201325.000000,226500.000000,...,-141133.333333,85383.333333,1000.000000,198000.000000,-201325.000000,-25175.000000,-648500.000000,875000.000000,-172430.500000,-248444.500000
68696,01004_1_5,174333.333333,21,179486.666667,143250.000000,284383.333333,199000.000000,198000.000000,0.000000,201325.000000,...,36236.666667,-141133.333333,85383.333333,1000.000000,198000.000000,-201325.000000,-25175.000000,-648500.000000,875000.000000,-172430.500000
68697,01004_1_5,215750.000000,22,174333.333333,179486.666667,143250.000000,284383.333333,199000.000000,198000.000000,0.000000,...,-5153.333333,36236.666667,-141133.333333,85383.333333,1000.000000,198000.000000,-201325.000000,-25175.000000,-648500.000000,875000.000000
68698,01004_1_5,183250.000000,23,215750.000000,174333.333333,179486.666667,143250.000000,284383.333333,199000.000000,198000.000000,...,41416.666667,-5153.333333,36236.666667,-141133.333333,85383.333333,1000.000000,198000.000000,-201325.000000,-25175.000000,-648500.000000
68699,01004_1_5,172175.000000,24,183250.000000,215750.000000,174333.333333,179486.666667,143250.000000,284383.333333,199000.000000,...,-32500.000000,41416.666667,-5153.333333,36236.666667,-141133.333333,85383.333333,1000.000000,198000.000000,-201325.000000,-25175.000000
121320,01004_1_5,207500.000000,25,172175.000000,183250.000000,215750.000000,174333.333333,179486.666667,143250.000000,284383.333333,...,-11075.000000,-32500.000000,41416.666667,-5153.333333,36236.666667,-141133.333333,85383.333333,1000.000000,198000.000000,-201325.000000
121321,01004_1_5,150700.000000,26,207500.000000,172175.000000,183250.000000,215750.000000,174333.333333,179486.666667,143250.000000,...,35325.000000,-11075.000000,-32500.000000,41416.666667,-5153.333333,36236.666667,-141133.333333,85383.333333,1000.000000,198000.000000