In [18]:
import pandas as pd

### Import des fichiers

In [19]:
years = ["2014","2015","2016","2017","2018"]

In [20]:
data_immo = {}
for year in years:
    tempo = pd.read_csv('../../data/foncier/immobilier_' + year + '_clean.csv',sep=',',dtype= {'code_commune' : str})
    tempo.rename(columns = {'surface_reelle_bati' : 'surface_' + year,'valeur_fonciere' : 'valeur_' + year, 'nb_mutation' : 'nb_mutation_' + year},inplace=True)
    data_immo[year] = tempo

In [22]:
data_immo['2018'].head()

,code_commune,nom_commune,type_local,code_type_local,nombre_pieces_principales,surface_2018,valeur_2018,nb_mutation_2018,id_bien
0,01001,L'Abergement-Clémenciat,Maison,1.0,2.0,42.0,85000.000000,1,01001_1_2
1,01002,L'Abergement-de-Varey,Maison,1.0,3.0,86.0,90000.000000,2,01002_1_3
2,01002,L'Abergement-de-Varey,Maison,1.0,4.0,110.0,239239.000000,1,01002_1_4
3,01002,L'Abergement-de-Varey,Maison,1.0,5.0,165.0,214400.000000,1,01002_1_5
4,01004,Ambérieu-en-Bugey,Appartement,2.0,1.0,24.0,39333.333333,3,01004_2_1

In [23]:
data_immo['2014'].shape

(127506, 9)

### Merge des fichiers

In [41]:
cols_to_keep = ['code_commune','nom_commune','type_local','code_type_local','nombre_pieces_principales']

In [42]:
immo_by_year = ""
for i in range(len(years)):
    immo = data_immo[year]
    year = years[i]
    
    if i != 0:
        for col in cols_to_keep:
            immo.rename(columns = {col: col + '_' + year},inplace = True)
    
    
    if i == 0:
        immo_by_year = immo
    else:
        immo_by_year = pd.merge(immo_by_year, immo, on='id_bien', how='outer')

In [43]:
immo_by_year.head()

,code_commune,nom_commune,type_local,code_type_local,nombre_pieces_principales,surface_2018,valeur_2018,nb_mutation_2018,id_bien,code_commune_2015,...,valeur_2016,nb_mutation_2016,code_commune_2018,nom_commune_2018,type_local_2018,code_type_local_2018,nombre_pieces_principales_2018,surface_2017,valeur_2017,nb_mutation_2017
0,01001,L'Abergement-Clémenciat,Maison,1.0,2.0,42.0,85000.000000,1.0,01001_1_2,NaN,...,328000.0,1.0,01001,L'Abergement-Clémenciat,Maison,1.0,2.0,69.5,85000.0,2.0
1,01002,L'Abergement-de-Varey,Maison,1.0,3.0,86.0,90000.000000,2.0,01002_1_3,01002,...,68000.0,2.0,01002,L'Abergement-de-Varey,Maison,1.0,3.0,78.0,74250.0,2.0
2,01002,L'Abergement-de-Varey,Maison,1.0,4.0,110.0,239239.000000,1.0,01002_1_4,01002,...,148535.0,2.0,01002,L'Abergement-de-Varey,Maison,1.0,4.0,98.5,142500.0,2.0
3,01002,L'Abergement-de-Varey,Maison,1.0,5.0,165.0,214400.000000,1.0,01002_1_5,NaN,...,NaN,NaN,01002,L'Abergement-de-Varey,Maison,1.0,5.0,123.0,13000.0,1.0
4,01004,Ambérieu-en-Bugey,Appartement,2.0,1.0,24.0,39333.333333,3.0,01004_2_1,01004,...,42680.0,2.0,01004,Ambérieu-en-Bugey,Appartement,2.0,1.0,42.4,81570.0,5.0

In [44]:
immo_by_year.columns.values

array(['code_commune', 'nom_commune', 'type_local', 'code_type_local',
       'nombre_pieces_principales', 'surface_2018', 'valeur_2018',
       'nb_mutation_2018', 'id_bien', 'code_commune_2015',
       'nom_commune_2015', 'type_local_2015', 'code_type_local_2015',
       'nombre_pieces_principales_2015', 'surface_2014', 'valeur_2014',
       'nb_mutation_2014', 'code_commune_2016', 'nom_commune_2016',
       'type_local_2016', 'code_type_local_2016',
       'nombre_pieces_principales_2016', 'surface_2015', 'valeur_2015',
       'nb_mutation_2015', 'code_commune_2017', 'nom_commune_2017',
       'type_local_2017', 'code_type_local_2017',
       'nombre_pieces_principales_2017', 'surface_2016', 'valeur_2016',
       'nb_mutation_2016', 'code_commune_2018', 'nom_commune_2018',
       'type_local_2018', 'code_type_local_2018',
       'nombre_pieces_principales_2018', 'surface_2017', 'valeur_2017',
       'nb_mutation_2017'], dtype=object)

In [45]:
col_names = immo_by_year.columns.values
col_names = list(set(col_names) - set(cols_to_keep))

In [46]:
from collections import defaultdict
cols_to_merge = defaultdict(list)

In [47]:
for col_key in cols_to_keep:
    for col_value in col_names:
        start_with = col_value.startswith(col_key)
        if start_with:
            cols_to_merge[col_key].append(col_value)

In [48]:
cols_to_merge

defaultdict(list,
            {'code_commune': ['code_commune_2015',
              'code_commune_2018',
              'code_commune_2016',
              'code_commune_2017'],
             'nom_commune': ['nom_commune_2017',
              'nom_commune_2016',
              'nom_commune_2018',
              'nom_commune_2015'],
             'type_local': ['type_local_2015',
              'type_local_2018',
              'type_local_2017',
              'type_local_2016'],
             'code_type_local': ['code_type_local_2015',
              'code_type_local_2016',
              'code_type_local_2018',
              'code_type_local_2017'],
             'nombre_pieces_principales': ['nombre_pieces_principales_2015',
              'nombre_pieces_principales_2018',
              'nombre_pieces_principales_2017',
              'nombre_pieces_principales_2016']})

In [49]:
for final_col, inter_cols in cols_to_merge.items():
    for inter_col in inter_cols:
        immo_by_year.loc[~immo_by_year[inter_col].isna(),final_col] = immo_by_year.loc[~immo_by_year[inter_col].isna(),inter_col]
        immo_by_year.drop(columns=[inter_col],inplace=True)

In [50]:
immo_by_year.fillna(0, inplace=True)

In [51]:
immo_by_year.head()

,code_commune,nom_commune,type_local,code_type_local,nombre_pieces_principales,surface_2018,valeur_2018,nb_mutation_2018,id_bien,surface_2014,...,nb_mutation_2014,surface_2015,valeur_2015,nb_mutation_2015,surface_2016,valeur_2016,nb_mutation_2016,surface_2017,valeur_2017,nb_mutation_2017
0,01001,L'Abergement-Clémenciat,Maison,1.0,2.0,42.0,85000.000000,1.0,01001_1_2,0.000000,...,0.0,79.00,80000.0,1.0,86.0,328000.0,1.0,69.5,85000.0,2.0
1,01002,L'Abergement-de-Varey,Maison,1.0,3.0,86.0,90000.000000,2.0,01002_1_3,82.000000,...,2.0,0.00,0.0,0.0,65.0,68000.0,2.0,78.0,74250.0,2.0
2,01002,L'Abergement-de-Varey,Maison,1.0,4.0,110.0,239239.000000,1.0,01002_1_4,77.000000,...,1.0,0.00,0.0,0.0,100.0,148535.0,2.0,98.5,142500.0,2.0
3,01002,L'Abergement-de-Varey,Maison,1.0,5.0,165.0,214400.000000,1.0,01002_1_5,0.000000,...,0.0,143.25,166075.0,4.0,0.0,0.0,0.0,123.0,13000.0,1.0
4,01004,Ambérieu-en-Bugey,Appartement,2.0,1.0,24.0,39333.333333,3.0,01004_2_1,41.166667,...,6.0,40.00,64250.0,2.0,35.5,42680.0,2.0,42.4,81570.0,5.0

### Changer l'ordre des colonnes

In [52]:
first_cols = ['id_bien','code_commune','nom_commune','type_local','code_type_local','nombre_pieces_principales']
col_names = immo_by_year.columns.values
last_cols = list(set(col_names) - set(first_cols))
last_cols.sort()
new_col_names = first_cols + last_cols
print(new_col_names)

['id_bien', 'code_commune', 'nom_commune', 'type_local', 'code_type_local', 'nombre_pieces_principales', 'nb_mutation_2014', 'nb_mutation_2015', 'nb_mutation_2016', 'nb_mutation_2017', 'nb_mutation_2018', 'surface_2014', 'surface_2015', 'surface_2016', 'surface_2017', 'surface_2018', 'valeur_2014', 'valeur_2015', 'valeur_2016', 'valeur_2017', 'valeur_2018']

In [53]:
immo_by_year = immo_by_year[new_col_names]

In [54]:
immo_by_year[immo_by_year.nom_commune == 'Toulouse']

,id_bien,code_commune,nom_commune,type_local,code_type_local,nombre_pieces_principales,nb_mutation_2014,nb_mutation_2015,nb_mutation_2016,nb_mutation_2017,...,surface_2014,surface_2015,surface_2016,surface_2017,surface_2018,valeur_2014,valeur_2015,valeur_2016,valeur_2017,valeur_2018
36542,31555_2_0,31555,Toulouse,Appartement,2.0,0.0,52.0,65.0,48.0,5.0,...,121.096154,129.692308,121.937500,14.000000,14.333333,2.723834e+05,1.961672e+05,207595.791667,73620.200000,415800.000000
36543,31555_2_1,31555,Toulouse,Appartement,2.0,1.0,1492.0,1507.0,1612.0,1526.0,...,25.399464,25.609157,25.700993,26.182831,26.118160,9.982329e+04,1.006599e+05,117404.658176,113795.387202,113102.039992
36544,31555_2_2,31555,Toulouse,Appartement,2.0,2.0,2335.0,2673.0,2739.0,2776.0,...,43.084368,42.955855,42.862724,42.905620,43.093721,1.445506e+05,1.466068e+05,149213.156893,146022.098696,150257.131865
36545,31555_2_3,31555,Toulouse,Appartement,2.0,3.0,2371.0,2611.0,2743.0,2910.0,...,63.573598,63.118728,63.399927,63.695189,63.973291,1.944806e+05,1.902111e+05,192809.521761,198953.866144,190863.324278
36546,31555_2_4,31555,Toulouse,Appartement,2.0,4.0,1016.0,1105.0,1196.0,1382.0,...,81.894685,83.023529,82.627090,81.916787,82.163357,2.229531e+05,2.154423e+05,233476.115727,224151.061064,229384.838087
36547,31555_2_5,31555,Toulouse,Appartement,2.0,5.0,215.0,248.0,285.0,313.0,...,103.655814,106.850806,107.185965,106.744409,107.161871,2.606124e+05,2.938800e+05,306735.115474,315855.704920,335915.095432
36548,31555_2_6,31555,Toulouse,Appartement,2.0,6.0,35.0,39.0,30.0,46.0,...,152.142857,140.974359,149.133333,141.500000,130.900000,3.963126e+05,4.664332e+05,381222.666667,430742.719783,432662.100000
36549,31555_2_7,31555,Toulouse,Appartement,2.0,7.0,6.0,11.0,10.0,8.0,...,173.833333,188.181818,191.200000,171.375000,205.200000,6.587417e+05,5.087455e+05,642888.900000,568737.500000,890115.000000
36550,31555_2_8,31555,Toulouse,Appartement,2.0,8.0,0.0,7.0,2.0,2.0,...,0.000000,234.857143,235.500000,270.000000,244.800000,0.000000e+00,5.684571e+05,947300.000000,887500.000000,944930.000000
36551,31555_2_9,31555,Toulouse,Appartement,2.0,9.0,0.0,4.0,3.0,1.0,...,0.000000,229.000000,224.333333,250.000000,308.000000,0.000000e+00,4.964375e+05,485626.000000,800000.000000,165500.000000
36552,31555_2_10,31555,Toulouse,Appartement,2.0,10.0,2.0,4.0,1.0,5.0,...,196.500000,131.750000,67.000000,67.000000,67.000000,9.005000e+04,1.977475e+05,89000.000000,85800.000000,105500.000000
36553,31555_1_1,31555,Toulouse,Maison,1.0,1.0,7.0,16.0,10.0,16.0,...,39.428571,45.375000,58.800000,51.375000,34.357143,1.877143e+05,4.043292e+05,355370.000000,278221.312500,292893.571429
36554,31555_1_2,31555,Toulouse,Maison,1.0,2.0,42.0,44.0,47.0,57.0,...,56.642857,51.772727,57.723404,57.192982,54.686275,2.541943e+05,2.412606e+05,278207.553191,320096.403509,541649.725490
36555,31555_1_3,31555,Toulouse,Maison,1.0,3.0,187.0,233.0,209.0,262.0,...,76.438503,74.038627,76.913876,72.702290,77.067633,2.786940e+05,2.828102e+05,328604.057416,306917.910534,358511.711546
36556,31555_1_4,31555,Toulouse,Maison,1.0,4.0,400.0,441.0,493.0,525.0,...,92.217500,93.569161,92.097363,94.139048,92.177730,3.035162e+05,2.926736e+05,304672.566897,326026.016914,340085.470471
36557,31555_1_5,31555,Toulouse,Maison,1.0,5.0,255.0,297.0,294.0,347.0,...,115.788235,115.094276,118.054422,119.342939,115.842271,3.541375e+05,3.591429e+05,369297.633197,415506.750749,416802.936530
36558,31555_1_6,31555,Toulouse,Maison,1.0,6.0,111.0,96.0,112.0,147.0,...,144.603604,139.666667,143.107143,146.394558,142.623932,4.331517e+05,4.812526e+05,464271.042679,543146.453741,498647.230769
36559,31555_1_7,31555,Toulouse,Maison,1.0,7.0,29.0,40.0,41.0,64.0,...,173.896552,172.450000,170.390244,170.281250,177.604167,5.099824e+05,5.499041e+05,537120.926829,598090.406250,668107.750000
36560,31555_1_8,31555,Toulouse,Maison,1.0,8.0,7.0,15.0,12.0,20.0,...,215.714286,190.600000,215.750000,207.950000,204.928571,7.843229e+05,6.282667e+05,564708.333333,806922.100000,668216.250000
36561,31555_1_9,31555,Toulouse,Maison,1.0,9.0,0.0,7.0,8.0,6.0,...,0.000000,241.571429,243.125000,210.166667,234.000000,0.000000e+00,8.306236e+05,866556.250000,575833.333333,848020.000000
36562,31555_1_10,31555,Toulouse,Maison,1.0,10.0,1.0,5.0,0.0,0.0,...,240.000000,242.400000,0.000000,0.000000,184.500000,2.500000e+06,1.044140e+06,0.000000,0.000000,470850.000000
36563,31555_1_11,31555,Toulouse,Maison,1.0,11.0,0.0,0.0,0.0,2.0,...,0.000000,0.000000,0.000000,280.000000,308.500000,0.000000e+00,0.000000e+00,0.000000,912500.000000,953754.250000
36564,31555_1_12,31555,Toulouse,Maison,1.0,12.0,1.0,0.0,2.0,0.0,...,435.000000,0.000000,306.000000,0.000000,376.000000,1.350000e+05,0.000000e+00,909805.000000,0.000000,927500.000000
138860,31555_2_41,31555,Toulouse,Appartement,2.0,41.0,1.0,0.0,0.0,0.0,...,117.000000,0.000000,0.000000,0.000000,0.000000,4.460000e+06,0.000000e+00,0.000000,0.000000,0.000000
138861,31555_1_0,31555,Toulouse,Maison,1.0,0.0,4.0,4.0,4.0,0.0,...,222.000000,240.000000,125.250000,0.000000,0.000000,3.278000e+05,2.450000e+05,680125.000000,0.000000,0.000000
233749,31555_2_13,31555,Toulouse,Appartement,2.0,13.0,0.0,0.0,0.0,1.0,...,0.000000,0.000000,0.000000,55.000000,0.000000,0.000000e+00,0.000000e+00,0.000000,206000.000000,0.000000
233750,31555_1_25,31555,Toulouse,Maison,1.0,25.0,0.0,0.0,0.0,1.0,...,0.000000,0.000000,0.000000,136.000000,0.000000,0.000000e+00,0.000000e+00,0.000000,409000.000000,0.000000

In [16]:
immo_by_year.shape

(208674, 15)

In [17]:
immo_by_year.to_csv('../../data/join/immo_by_year.csv',index=False)