In [3]:
import pandas as pd

### Import des fichiers

In [27]:
years = ["2014","2015","2016","2017"]

In [28]:
biens = {}
for year in years:
    tempo = pd.read_csv('../../data/foncier/bien_' + year + '.csv',sep=',',dtype= {'code_commune' : str,'code_postal' : str})
    tempo.rename(columns = {'valeur_fonciere' : 'valeur' },inplace=True)
    biens[year] = tempo

### Concat√©ner les data frames en un seul

In [38]:
all_biens = pd.concat(list(biens.values()))
all_biens = all_biens.drop_duplicates()

In [39]:
all_biens.head()

,code_commune,code_postal,nom_commune,nombre_pieces_principales,code_type_local,type_local,id_bien
0,93072,93240,Stains,4.0,2.0,Appartement,93072_2_4
1,93001,93300,Aubervilliers,2.0,2.0,Appartement,93001_2_2
2,93070,93400,Saint-Ouen-sur-Seine,2.0,2.0,Appartement,93070_2_2
3,93001,93300,Aubervilliers,1.0,2.0,Appartement,93001_2_1
4,93070,93400,Saint-Ouen-sur-Seine,4.0,1.0,Maison,93070_1_4

### On enregistre comme csv

In [43]:
all_biens.to_csv('../../data/join/biens.csv',index=False)