In [13]:
import pandas as pd

### Import des fichiers

In [14]:
years = ["2014","2015","2016","2017"]

In [15]:
data_immo = {}
for year in years:
    tempo = pd.read_csv('../../data/foncier/immobilier_' + year + '_clean_month.csv',sep=',',dtype= {'code_commune' : str})
    tempo.rename(columns = {'valeur_fonciere' : 'valeur' },inplace=True)
    data_immo[year] = tempo

In [16]:
data_immo['2017'].sort_values(by=['id_bien','year','month']).head()

           id_bien  month  year  surface  nb_mutation  valeur
1337280  01001_1_2      1  2017      0.0          0.0     0.0
1337281  01001_1_2      2  2017      0.0          0.0     0.0
1337282  01001_1_2      3  2017      0.0          0.0     0.0
1337283  01001_1_2      4  2017      0.0          0.0     0.0
1337284  01001_1_2      5  2017      0.0          0.0     0.0

In [17]:
data_immo['2017'].shape

(1733400, 6)

### Ne garder que les biens qui sont présents sur toutes les années

on récupère d'abord les ids de biens présent sur toutes les années

In [18]:
id_bien_all_year = {}
for key, data in data_immo.items():
    
    temp = set(data["id_bien"].drop_duplicates())
    
    if len(id_bien_all_year) == 0:
        id_bien_all_year = temp
    else:
        id_bien_all_year = id_bien_all_year.intersection(temp)
    print(len(id_bien_all_year))

127506
85124
69998
62593

on filtre ensuite les biens en fonctions de ces ids de biens

In [19]:
for key, data in data_immo.items():
    data_immo[key] = data[data.id_bien.isin(id_bien_all_year)]

### Concaténer les data frames en un seul

In [20]:
list(data_immo.values())

[           id_bien  month  year     surface  nb_mutation         valeur
 0        93072_2_4      1  2014   70.000000          5.0  179202.804000
 1        93072_2_4      2  2014   72.666667          3.0  204337.850000
 2        93072_2_4      3  2014   74.500000          2.0  142500.000000
 3        93072_2_4      4  2014   79.000000          3.0  193708.880000
 4        93072_2_4      5  2014   68.750000          4.0  169725.465000
 5        93072_2_4      6  2014   83.000000          1.0  160000.000000
 6        93072_2_4      7  2014   73.375000          8.0  208857.476250
 7        93072_2_4      8  2014   75.500000          2.0  171500.000000
 8        93072_2_4      9  2014   77.500000          2.0  184500.000000
 9        93072_2_4     10  2014   81.200000          5.0  213588.786000
 10       93072_2_4     11  2014   72.000000          1.0  180000.000000
 11       93072_2_4     12  2014   75.500000          2.0  212500.000000
 12       93001_2_2      1  2014   41.764706         17.0  152610.778235
 13       93001_2_2      2  2014   42.000000          9.0  118386.293333
 14       93001_2_2      3  2014   41.518519         27.0  128265.740741
 15       93001_2_2      4  2014   38.714286         14.0  138743.644286
 16       93001_2_2      5  2014   39.400000         15.0  141978.036667
 17       93001_2_2      6  2014   34.846154         13.0  201382.270000
 18       93001_2_2      7  2014   34.000000         23.0  131614.130435
 19       93001_2_2      8  2014   36.909091         11.0  142462.727273
 20       93001_2_2      9  2014   40.666667         15.0  203476.396000
 21       93001_2_2     10  2014   42.428571         21.0  201430.447619
 22       93001_2_2     11  2014   38.533333         15.0  119785.420000
 23       93001_2_2     12  2014   39.250000         20.0  332615.189500
 24       93070_2_2      1  2014   37.235294         17.0  204473.598235
 25       93070_2_2      2  2014   41.440000         25.0  169376.074400
 26       93070_2_2      3  2014   37.878788         33.0  179076.762727
 27       93070_2_2      4  2014   38.384615         26.0  159008.836538
 28       93070_2_2      5  2014   37.100000         30.0  145221.832000
 29       93070_2_2      6  2014   37.480000         25.0  154822.244800
 ...            ...    ...   ...         ...          ...            ...
 1530006  93039_2_5      7  2014    0.000000          0.0       0.000000
 1530007  93039_2_5      8  2014    0.000000          0.0       0.000000
 1530008  93039_2_5      9  2014    0.000000          0.0       0.000000
 1530009  93039_2_5     10  2014    0.000000          0.0       0.000000
 1530010  93039_2_5     11  2014    0.000000          0.0       0.000000
 1530011  93039_2_5     12  2014    0.000000          0.0       0.000000
 1530012  93027_1_1      1  2014    0.000000          0.0       0.000000
 1530013  93027_1_1      2  2014    0.000000          0.0       0.000000
 1530014  93027_1_1      3  2014    0.000000          0.0       0.000000
 1530015  93027_1_1      4  2014    0.000000          0.0       0.000000
 1530016  93027_1_1      5  2014    0.000000          0.0       0.000000
 1530017  93027_1_1      6  2014    0.000000          0.0       0.000000
 1530018  93027_1_1      7  2014    0.000000          0.0       0.000000
 1530019  93027_1_1      8  2014    0.000000          0.0       0.000000
 1530020  93027_1_1      9  2014    0.000000          0.0       0.000000
 1530021  93027_1_1     10  2014    0.000000          0.0       0.000000
 1530022  93027_1_1     11  2014    0.000000          0.0       0.000000
 1530023  93027_1_1     12  2014   32.000000          1.0  245000.000000
 1530024  93001_1_6      1  2014    0.000000          0.0       0.000000
 1530025  93001_1_6      2  2014    0.000000          0.0       0.000000
 1530026  93001_1_6      3  2014    0.000000          0.0       0.000000
 1530027  93001_1_6      4  2014    0.000000          0.0       0.000000
 1530028  93001_1_6      5  2014    0.000000          0.0       0.000000
 1530029  93001_1_6      6  2014    0.000000          0.0       0.000000
 1530030  93001_1_6      7  2014    0.000000          0.0       0.000000
 1530031  93001_1_6      8  2014    0.000000          0.0       0.000000
 1530032  93001_1_6      9  2014    0.000000          0.0       0.000000
 1530033  93001_1_6     10  2014    0.000000          0.0       0.000000
 1530034  93001_1_6     11  2014    0.000000          0.0       0.000000
 1530035  93001_1_6     12  2014  148.000000          2.0  485000.000000

 [751116 rows x 6 columns],
            id_bien  month  year     surface  nb_mutation         valeur
 0        86297_1_4      1  2015   81.000000          1.0  136800.000000
 1        86297_1_4      2  2015    0.000000          0.0       0.000000
 2        86297_1_4      3  2015   88.600000          5.0  170060.000000
 3        86297_1_4      4  2015  107.500000          4.0  213439.500000
 4        86297_1_4      5  2015   79.500000          2.0  152800.000000
 5        86297_1_4      6  2015   83.000000          2.0   74000.000000
 6        86297_1_4      7  2015   92.000000          2.0  160000.000000
 7        86297_1_4      8  2015   75.000000          1.0  150500.000000
 8        86297_1_4      9  2015    0.000000          0.0       0.000000
 9        86297_1_4     10  2015  108.000000          2.0  156500.000000
 10       86297_1_4     11  2015   95.000000          2.0  116725.845000
 11       86297_1_4     12  2015  118.000000          1.0  175000.000000
 12       86194_2_2      1  2015   41.300000         10.0   88881.200000
 13       86194_2_2      2  2015   40.071429         14.0   78673.714286
 14       86194_2_2      3  2015   44.571429         28.0   85225.000000
 15       86194_2_2      4  2015   44.545455         11.0   80145.454545
 16       86194_2_2      5  2015   47.173913         23.0  119759.130435
 17       86194_2_2      6  2015   44.333333         27.0   74440.740741
 18       86194_2_2      7  2015   45.000000         20.0   87950.000000
 19       86194_2_2      8  2015   45.400000         25.0   70922.800000
 20       86194_2_2      9  2015   46.142857         21.0   86800.000000
 21       86194_2_2     10  2015   41.736842         19.0   73184.210526
 22       86194_2_2     11  2015   41.937500         16.0   95623.125000
 23       86194_2_2     12  2015   40.652174         23.0   90836.956522
 24       86194_1_6      1  2015    0.000000          0.0       0.000000
 25       86194_1_6      2  2015   96.666667          3.0  120466.666667
 26       86194_1_6      3  2015  141.600000          5.0  218730.000000
 27       86194_1_6      4  2015  105.000000          3.0  116000.000000
 28       86194_1_6      5  2015  109.333333          3.0  210000.000000
 29       86194_1_6      6  2015  176.125000          8.0  238718.750000
 ...            ...    ...   ...         ...          ...            ...
 1613142  86157_1_2      7  2015    0.000000          0.0       0.000000
 1613143  86157_1_2      8  2015    0.000000          0.0       0.000000
 1613144  86157_1_2      9  2015    0.000000          0.0       0.000000
 1613145  86157_1_2     10  2015    0.000000          0.0       0.000000
 1613146  86157_1_2     11  2015    0.000000          0.0       0.000000
 1613147  86157_1_2     12  2015    0.000000          0.0       0.000000
 1613244  86115_1_1      1  2015    0.000000          0.0       0.000000
 1613245  86115_1_1      2  2015    0.000000          0.0       0.000000
 1613246  86115_1_1      3  2015    0.000000          0.0       0.000000
 1613247  86115_1_1      4  2015    0.000000          0.0       0.000000
 1613248  86115_1_1      5  2015   36.000000          1.0   95000.000000
 1613249  86115_1_1      6  2015    0.000000          0.0       0.000000
 1613250  86115_1_1      7  2015    0.000000          0.0       0.000000
 1613251  86115_1_1      8  2015    0.000000          0.0       0.000000
 1613252  86115_1_1      9  2015    0.000000          0.0       0.000000
 1613253  86115_1_1     10  2015    0.000000          0.0       0.000000
 1613254  86115_1_1     11  2015    0.000000          0.0       0.000000
 1613255  86115_1_1     12  2015    0.000000          0.0       0.000000
 1613364  86124_1_4      1  2015    0.000000          0.0       0.000000
 1613365  86124_1_4      2  2015    0.000000          0.0       0.000000
 1613366  86124_1_4      3  2015    0.000000          0.0       0.000000
 1613367  86124_1_4      4  2015    0.000000          0.0       0.000000
 1613368  86124_1_4      5  2015  112.000000          1.0  198500.000000
 1613369  86124_1_4      6  2015    0.000000          0.0       0.000000
 1613370  86124_1_4      7  2015    0.000000          0.0       0.000000
 1613371  86124_1_4      8  2015    0.000000          0.0       0.000000
 1613372  86124_1_4      9  2015    0.000000          0.0       0.000000
 1613373  86124_1_4     10  2015    0.000000          0.0       0.000000
 1613374  86124_1_4     11  2015    0.000000          0.0       0.000000
 1613375  86124_1_4     12  2015    0.000000          0.0       0.000000

 [751116 rows x 6 columns],
            id_bien  month  year     surface  nb_mutation         valeur
 0        80021_1_6      1  2016  119.666667          3.0  242833.333333
 1        80021_1_6      2  2016  113.666667          3.0  229166.666667
 2        80021_1_6      3  2016  124.200000          5.0  202300.000000
 3        80021_1_6      4  2016  131.125000          8.0  277750.000000
 4        80021_1_6      5  2016  101.750000          4.0  177312.500000
 5        80021_1_6      6  2016  107.571429          7.0  219528.571429
 6        80021_1_6      7  2016  110.000000          7.0  213971.428571
 7        80021_1_6      8  2016  102.888889          9.0  141353.333333
 8        80021_1_6      9  2016  138.375000          8.0  328768.750000
 9        80021_1_6     10  2016  112.625000          8.0  259937.500000
 10       80021_1_6     11  2016  122.250000          4.0  214620.000000
 11       80021_1_6     12  2016  110.625000          8.0  456223.750000
 12       80632_2_3      1  2016    0.000000          0.0       0.000000
 13       80632_2_3      2  2016    0.000000          0.0       0.000000
 14       80632_2_3      3  2016    0.000000          0.0       0.000000
 15       80632_2_3      4  2016    0.000000          0.0       0.000000
 16       80632_2_3      5  2016   64.500000          2.0  199500.000000
 17       80632_2_3      6  2016    0.000000          0.0       0.000000
 18       80632_2_3      7  2016    0.000000          0.0       0.000000
 19       80632_2_3      8  2016    0.000000          0.0       0.000000
 20       80632_2_3      9  2016    0.000000          0.0       0.000000
 21       80632_2_3     10  2016   65.000000          2.0  202700.000000
 22       80632_2_3     11  2016    0.000000          0.0       0.000000
 23       80632_2_3     12  2016   69.666667          3.0  229896.000000
 48       80485_1_5      1  2016    0.000000          0.0       0.000000
 49       80485_1_5      2  2016    0.000000          0.0       0.000000
 50       80485_1_5      3  2016    0.000000          0.0       0.000000
 51       80485_1_5      4  2016    0.000000          0.0       0.000000
 52       80485_1_5      5  2016    0.000000          0.0       0.000000
 53       80485_1_5      6  2016  106.500000          2.0  165875.000000
 ...            ...    ...   ...         ...          ...            ...
 1661190  80253_2_2      7  2016    0.000000          0.0       0.000000
 1661191  80253_2_2      8  2016    0.000000          0.0       0.000000
 1661192  80253_2_2      9  2016    0.000000          0.0       0.000000
 1661193  80253_2_2     10  2016    0.000000          0.0       0.000000
 1661194  80253_2_2     11  2016    0.000000          0.0       0.000000
 1661195  80253_2_2     12  2016    0.000000          0.0       0.000000
 1661292  80752_1_5      1  2016    0.000000          0.0       0.000000
 1661293  80752_1_5      2  2016    0.000000          0.0       0.000000
 1661294  80752_1_5      3  2016    0.000000          0.0       0.000000
 1661295  80752_1_5      4  2016    0.000000          0.0       0.000000
 1661296  80752_1_5      5  2016    0.000000          0.0       0.000000
 1661297  80752_1_5      6  2016    0.000000          0.0       0.000000
 1661298  80752_1_5      7  2016    0.000000          0.0       0.000000
 1661299  80752_1_5      8  2016    0.000000          0.0       0.000000
 1661300  80752_1_5      9  2016    0.000000          0.0       0.000000
 1661301  80752_1_5     10  2016    0.000000          0.0       0.000000
 1661302  80752_1_5     11  2016    0.000000          0.0       0.000000
 1661303  80752_1_5     12  2016  130.000000          1.0  245500.000000
 1661340  01241_1_3      1  2016  120.000000          1.0   75000.000000
 1661341  01241_1_3      2  2016    0.000000          0.0       0.000000
 1661342  01241_1_3      3  2016    0.000000          0.0       0.000000
 1661343  01241_1_3      4  2016    0.000000          0.0       0.000000
 1661344  01241_1_3      5  2016    0.000000          0.0       0.000000
 1661345  01241_1_3      6  2016    0.000000          0.0       0.000000
 1661346  01241_1_3      7  2016    0.000000          0.0       0.000000
 1661347  01241_1_3      8  2016    0.000000          0.0       0.000000
 1661348  01241_1_3      9  2016    0.000000          0.0       0.000000
 1661349  01241_1_3     10  2016    0.000000          0.0       0.000000
 1661350  01241_1_3     11  2016    0.000000          0.0       0.000000
 1661351  01241_1_3     12  2016    0.000000          0.0       0.000000

 [751116 rows x 6 columns],
            id_bien  month  year     surface  nb_mutation        valeur
 0        73306_2_3      1  2017   50.500000          4.0  2.461625e+05
 1        73306_2_3      2  2017   59.000000          1.0  2.755000e+05
 2        73306_2_3      3  2017    0.000000          0.0  0.000000e+00
 3        73306_2_3      4  2017   45.000000          1.0  2.148500e+05
 4        73306_2_3      5  2017   35.000000          1.0  2.150000e+05
 5        73306_2_3      6  2017   58.250000          4.0  2.464684e+05
 6        73306_2_3      7  2017   65.000000          4.0  2.612425e+05
 7        73306_2_3      8  2017   46.000000          1.0  2.210000e+05
 8        73306_2_3      9  2017   45.500000          2.0  1.470500e+06
 9        73306_2_3     10  2017   42.000000          1.0  2.550000e+05
 10       73306_2_3     11  2017   42.333333          3.0  2.174560e+05
 11       73306_2_3     12  2017   55.666667          3.0  2.952833e+05
 12       73186_2_1      1  2017   29.000000          1.0  1.270000e+05
 13       73186_2_1      2  2017    0.000000          0.0  0.000000e+00
 14       73186_2_1      3  2017    0.000000          0.0  0.000000e+00
 15       73186_2_1      4  2017   28.000000          1.0  1.392300e+05
 16       73186_2_1      5  2017    0.000000          0.0  0.000000e+00
 17       73186_2_1      6  2017   20.000000          1.0  5.816500e+04
 18       73186_2_1      7  2017   19.666667          3.0  5.888767e+04
 19       73186_2_1      8  2017    0.000000          0.0  0.000000e+00
 20       73186_2_1      9  2017    0.000000          0.0  0.000000e+00
 21       73186_2_1     10  2017    0.000000          0.0  0.000000e+00
 22       73186_2_1     11  2017   23.000000          1.0  6.471100e+04
 23       73186_2_1     12  2017   28.000000          1.0  6.700000e+04
 24       73303_1_6      1  2017    0.000000          0.0  0.000000e+00
 25       73303_1_6      2  2017    0.000000          0.0  0.000000e+00
 26       73303_1_6      3  2017    0.000000          0.0  0.000000e+00
 27       73303_1_6      4  2017  139.000000          1.0  4.238000e+05
 28       73303_1_6      5  2017    0.000000          0.0  0.000000e+00
 29       73303_1_6      6  2017  158.000000          1.0  1.950000e+05
 ...            ...    ...   ...         ...          ...           ...
 1733310  73320_2_3      7  2017   75.000000          1.0  1.670000e+05
 1733311  73320_2_3      8  2017    0.000000          0.0  0.000000e+00
 1733312  73320_2_3      9  2017    0.000000          0.0  0.000000e+00
 1733313  73320_2_3     10  2017    0.000000          0.0  0.000000e+00
 1733314  73320_2_3     11  2017    0.000000          0.0  0.000000e+00
 1733315  73320_2_3     12  2017    0.000000          0.0  0.000000e+00
 1733328  73082_1_5      1  2017    0.000000          0.0  0.000000e+00
 1733329  73082_1_5      2  2017    0.000000          0.0  0.000000e+00
 1733330  73082_1_5      3  2017    0.000000          0.0  0.000000e+00
 1733331  73082_1_5      4  2017    0.000000          0.0  0.000000e+00
 1733332  73082_1_5      5  2017    0.000000          0.0  0.000000e+00
 1733333  73082_1_5      6  2017    0.000000          0.0  0.000000e+00
 1733334  73082_1_5      7  2017  121.000000          1.0  3.290000e+05
 1733335  73082_1_5      8  2017    0.000000          0.0  0.000000e+00
 1733336  73082_1_5      9  2017    0.000000          0.0  0.000000e+00
 1733337  73082_1_5     10  2017    0.000000          0.0  0.000000e+00
 1733338  73082_1_5     11  2017    0.000000          0.0  0.000000e+00
 1733339  73082_1_5     12  2017    0.000000          0.0  0.000000e+00
 1733340  73215_2_1      1  2017    0.000000          0.0  0.000000e+00
 1733341  73215_2_1      2  2017    0.000000          0.0  0.000000e+00
 1733342  73215_2_1      3  2017    0.000000          0.0  0.000000e+00
 1733343  73215_2_1      4  2017    0.000000          0.0  0.000000e+00
 1733344  73215_2_1      5  2017    0.000000          0.0  0.000000e+00
 1733345  73215_2_1      6  2017    0.000000          0.0  0.000000e+00
 1733346  73215_2_1      7  2017   32.000000          1.0  3.950000e+04
 1733347  73215_2_1      8  2017    0.000000          0.0  0.000000e+00
 1733348  73215_2_1      9  2017    0.000000          0.0  0.000000e+00
 1733349  73215_2_1     10  2017    0.000000          0.0  0.000000e+00
 1733350  73215_2_1     11  2017    0.000000          0.0  0.000000e+00
 1733351  73215_2_1     12  2017    0.000000          0.0  0.000000e+00

 [751116 rows x 6 columns]]

In [21]:
immo_concat = pd.concat(list(data_immo.values()))

In [22]:
immo_concat.shape

(3004464, 6)

### Filtre des lignes selon le nombre de mutation ( on vire tous les types de biens avec moins de 10 ventes sur 2014 - 2017 )

On va virer toutes les types de biens qui totalisent moins de 10 mutations sur toutes les années

In [23]:
sum_by_id_bien = immo_concat.groupby('id_bien').sum().reset_index()

In [24]:
sum_by_id_bien.head()

     id_bien  month   year  surface  nb_mutation        valeur
0  01001_1_3    312  96744    399.0          5.0  9.123900e+05
1  01001_1_4    312  96744    923.0         13.0  1.757733e+06
2  01004_1_1    312  96744    428.5         11.0  8.456350e+05
3  01004_1_2    312  96744   1022.0         24.0  1.825696e+06
4  01004_1_3    312  96744   2744.5         66.0  5.612306e+06

In [25]:
sum_by_id_bien.shape

(62593, 6)

sum_by_id_bien = sum_by_id_bien[sum_by_id_bien.nb_mutation > 100]

In [26]:
id_bien_to_keep = sum_by_id_bien.id_bien

In [27]:
immo_concat.shape

(3004464, 6)

In [28]:
immo_concat = immo_concat[immo_concat.id_bien.isin(id_bien_to_keep)]
immo_concat.shape

(3004464, 6)

Cela vire 969312 lignes

In [29]:
immo_concat.head()

     id_bien  month  year    surface  nb_mutation      valeur
0  93072_2_4      1  2014  70.000000          5.0  179202.804
1  93072_2_4      2  2014  72.666667          3.0  204337.850
2  93072_2_4      3  2014  74.500000          2.0  142500.000
3  93072_2_4      4  2014  79.000000          3.0  193708.880
4  93072_2_4      5  2014  68.750000          4.0  169725.465

In [30]:
immo_concat.shape

(3004464, 6)

In [34]:
immo_concat.head()

     id_bien  month  year    surface  nb_mutation      valeur
0  93072_2_4      1  2014  70.000000          5.0  179202.804
1  93072_2_4      2  2014  72.666667          3.0  204337.850
2  93072_2_4      3  2014  74.500000          2.0  142500.000
3  93072_2_4      4  2014  79.000000          3.0  193708.880
4  93072_2_4      5  2014  68.750000          4.0  169725.465

### On enregistre comme csv

In [35]:
immo_concat.to_csv('../../data/join/immo_shiny.csv',index=False)

In [59]:
bien_table.to_csv('../../data/table/type_bien_immo.csv',index=False)