In [4]:
import pandas as pd

### Import de ensemble pop 2014

In [6]:
pop2014 = pd.read_csv('../data/csp/base-ic-evol-struct-pop-2014.csv',sep=',',dtype= {'COM' : str})

/home/yopla/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3049: DtypeWarning: Columns (0,2,3,7) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [7]:
pop2014.head()

,IRIS,REG,DEP,UU2010,COM,LIBCOM,TRIRIS,GRD_QUART,LIBIRIS,TYP_IRIS,...,C14_F15P_CS4,C14_F15P_CS5,C14_F15P_CS6,C14_F15P_CS7,C14_F15P_CS8,P14_POP_FR,P14_POP_ETR,P14_POP_IMM,P14_PMEN,P14_PHORMEN
0,10010000,84,1,1000,01001,L'Abergement-Clémenciat,ZZZZZZ,100100,L'Abergement-Clémenciat (commune non irisée),Z,...,50.000000,85.000000,30.000000,70.000000,15.000000,759.000000,8.000000,20.000000,767.000000,0.000000
1,10020000,84,1,1000,01002,L'Abergement-de-Varey,ZZZZZZ,100200,L'Abergement-de-Varey (commune non irisée),Z,...,19.670782,24.588477,0.000000,19.670782,0.000000,237.032922,1.967078,2.950617,239.000000,0.000000
2,10040101,84,1,1302,01004,Ambérieu-en-Bugey,ZZZZZZ,100401,Les Perouses-Triangle d'Activite,H,...,72.108846,142.061017,29.075716,214.857349,182.069302,1481.872018,245.605128,274.052131,1391.485087,335.992058
3,10040102,84,1,1302,01004,Ambérieu-en-Bugey,ZZZZZZ,100401,Longeray-Gare,H,...,183.181992,402.998978,168.120565,401.086316,345.384322,3313.368248,418.945924,531.318960,3732.314172,0.000000
4,10040201,84,1,1302,01004,Ambérieu-en-Bugey,ZZZZZZ,100402,Centre-St Germain-Vareilles,H,...,213.949238,434.011620,126.275371,535.665841,309.729363,3639.595835,276.314331,325.320938,3827.912246,87.997920

In [51]:
pop2014.dtypes

Code région                    int64
Nom de la région              object
Code département              object
Code arrondissement            int64
Code canton                  float64
Code commune                  object
Nom de la commune             object
Population municipale          int64
Population comptée à part      int64
Population totale              int64
dtype: object

### On enlève les colonnes inutiles

In [10]:
cols = ['COM', 'P14_POP', 'P14_POP0002', 'P14_POP0305', 'P14_POP0610',
       'P14_POP1117', 'P14_POP1824', 'P14_POP2539', 'P14_POP4054',
       'P14_POP5564', 'P14_POP6579', 'P14_POP80P', 'P14_POP0014',
       'P14_POP1529', 'P14_POP3044', 'P14_POP4559', 'P14_POP6074',
       'P14_POP75P', 'P14_POP0019', 'P14_POP2064', 'P14_POP65P',
       'P14_POPH', 'P14_H0014', 'P14_H1529', 'P14_H3044', 'P14_H4559',
       'P14_H6074', 'P14_H75P', 'P14_H0019', 'P14_H2064', 'P14_H65P',
       'P14_POPF', 'P14_F0014', 'P14_F1529', 'P14_F3044', 'P14_F4559',
       'P14_F6074', 'P14_F75P', 'P14_F0019', 'P14_F2064', 'P14_F65P',
       'C14_POP15P', 'C14_POP15P_CS1', 'C14_POP15P_CS2', 'C14_POP15P_CS3',
       'C14_POP15P_CS4', 'C14_POP15P_CS5', 'C14_POP15P_CS6',
       'C14_POP15P_CS7', 'C14_POP15P_CS8', 'C14_H15P', 'C14_H15P_CS1',
       'C14_H15P_CS2', 'C14_H15P_CS3', 'C14_H15P_CS4', 'C14_H15P_CS5',
       'C14_H15P_CS6', 'C14_H15P_CS7', 'C14_H15P_CS8', 'C14_F15P',
       'C14_F15P_CS1', 'C14_F15P_CS2', 'C14_F15P_CS3', 'C14_F15P_CS4',
       'C14_F15P_CS5', 'C14_F15P_CS6', 'C14_F15P_CS7', 'C14_F15P_CS8',
       'P14_POP_FR', 'P14_POP_ETR', 'P14_POP_IMM', 'P14_PMEN',
       'P14_PHORMEN']

In [11]:
pop2014 = pop2014[cols]

### On renomme les colonnes

In [ ]:
pop2014 = pop2014.rename(columns={'COM': 'code_commune'})

In [17]:
pop2014.columns = pop2014.columns.map(lambda x : x.lower())

In [18]:
pop2014.head()

,code_commune,p14_pop,p14_pop0002,p14_pop0305,p14_pop0610,p14_pop1117,p14_pop1824,p14_pop2539,p14_pop4054,p14_pop5564,...,c14_f15p_cs4,c14_f15p_cs5,c14_f15p_cs6,c14_f15p_cs7,c14_f15p_cs8,p14_pop_fr,p14_pop_etr,p14_pop_imm,p14_pmen,p14_phormen
0,01001,767.000000,29.000000,18.000000,57.000000,90.000000,36.000000,106.000000,193.000000,95.000000,...,50.000000,85.000000,30.000000,70.000000,15.000000,759.000000,8.000000,20.000000,767.000000,0.000000
1,01002,239.000000,13.769547,9.835391,13.769547,23.604938,7.868313,53.111111,49.176955,24.588477,...,19.670782,24.588477,0.000000,19.670782,0.000000,237.032922,1.967078,2.950617,239.000000,0.000000
2,01004,1727.477146,74.617146,63.914970,101.000432,108.522248,269.640703,346.747459,276.949028,185.703949,...,72.108846,142.061017,29.075716,214.857349,182.069302,1481.872018,245.605128,274.052131,1391.485087,335.992058
3,01004,3732.314172,182.817422,148.253776,222.506143,341.202514,422.707177,864.232456,627.786082,348.642533,...,183.181992,402.998978,168.120565,401.086316,345.384322,3313.368248,418.945924,531.318960,3732.314172,0.000000
4,01004,3915.910166,193.700935,154.583192,201.024831,322.319161,334.013060,799.799086,725.915851,461.180680,...,213.949238,434.011620,126.275371,535.665841,309.729363,3639.595835,276.314331,325.320938,3827.912246,87.997920

### On groupe par code commune

In [21]:
pop2014commune = pop2014.groupby('code_commune').sum().reset_index()

In [22]:
pop2014commune.head()

,code_commune,p14_pop,p14_pop0002,p14_pop0305,p14_pop0610,p14_pop1117,p14_pop1824,p14_pop2539,p14_pop4054,p14_pop5564,...,c14_f15p_cs4,c14_f15p_cs5,c14_f15p_cs6,c14_f15p_cs7,c14_f15p_cs8,p14_pop_fr,p14_pop_etr,p14_pop_imm,p14_pmen,p14_phormen
0,01001,767.0,29.000000,18.000000,57.000000,90.000000,36.000000,106.000000,193.000000,95.000000,...,50.000000,85.000000,30.000000,70.000000,15.000000,759.000000,8.000000,20.000000,767.000000,0.000000
1,01002,239.0,13.769547,9.835391,13.769547,23.604938,7.868313,53.111111,49.176955,24.588477,...,19.670782,24.588477,0.000000,19.670782,0.000000,237.032922,1.967078,2.950617,239.000000,0.000000
2,01004,14022.0,654.016347,540.912076,885.249641,1246.881020,1298.761487,2892.963069,2629.760904,1592.458647,...,848.346473,1380.624204,430.526441,1632.408353,1171.865286,12987.642588,1034.357412,1366.967540,13547.011227,474.988773
3,01005,1627.0,57.281655,74.365658,117.578135,144.711550,122.602841,280.378629,375.848054,206.012971,...,120.592959,216.062384,40.197653,150.741198,85.420012,1604.891291,22.108709,63.311303,1627.000000,0.000000
4,01006,109.0,2.972727,0.990909,2.972727,7.927273,6.936364,14.863636,27.745455,18.827273,...,9.909091,9.909091,4.954545,14.863636,0.000000,102.063636,6.936364,7.927273,109.000000,0.000000

In [23]:
pop2014commune.shape

(35910, 73)

In [24]:
pop2014commune.to_csv('../data/csp/ensemble_pop_2014.csv',index=False)