In [4]:
import pandas as pd

In [5]:
pop2014 = pd.read_csv('../../data/population/pop_commune_2014.csv',sep=',',dtype= {'Code commune' : str},header = 7)

In [6]:
pop2014.head()

,84,Auvergne-Rhône-Alpes,1,1.1,1.2,8,Ambutrix,743,21,764
0,84,Auvergne-Rhône-Alpes,1,1,4.0,9,Andert-et-Condon,338,9,347
1,84,Auvergne-Rhône-Alpes,1,1,10.0,10,Anglefort,1142,18,1160
2,84,Auvergne-Rhône-Alpes,1,4,14.0,11,Apremont,397,8,405
3,84,Auvergne-Rhône-Alpes,1,1,10.0,12,Aranc,325,7,332
4,84,Auvergne-Rhône-Alpes,1,1,1.0,13,Arandas,157,5,162

In [7]:
pop2014.dtypes

84                        int64
Auvergne-Rhône-Alpes     object
1                        object
1.1                       int64
1.2                     float64
8                         int64
Ambutrix                 object
743                       int64
21                        int64
764                       int64
dtype: object

In [8]:
pop2014.columns = ['code_region', 'nom_region', 'code_departement',
       'code_arrondissement', 'code_canton', 'code_commune',
       'nom_commune', 'population_municipale',
       'population_comptee_a_part', 'population_totale']

In [9]:
pop2014.head()

,code_region,nom_region,code_departement,code_arrondissement,code_canton,code_commune,nom_commune,population_municipale,population_comptee_a_part,population_totale
0,84,Auvergne-Rhône-Alpes,1,1,4.0,9,Andert-et-Condon,338,9,347
1,84,Auvergne-Rhône-Alpes,1,1,10.0,10,Anglefort,1142,18,1160
2,84,Auvergne-Rhône-Alpes,1,4,14.0,11,Apremont,397,8,405
3,84,Auvergne-Rhône-Alpes,1,1,10.0,12,Aranc,325,7,332
4,84,Auvergne-Rhône-Alpes,1,1,1.0,13,Arandas,157,5,162

In [12]:
pop2014["code_commune_complet"] = pop2014["code_departement"] + pop2014["code_commune"]

In [13]:
pop2014.dtypes

code_region                    int64
nom_region                    object
code_departement              object
code_arrondissement            int64
code_canton                  float64
code_commune                  object
nom_commune                   object
population_municipale          int64
population_comptee_a_part      int64
population_totale              int64
code_commune_complet          object
dtype: object

In [14]:
cols = ['code_commune_complet', 'population_totale']

In [15]:
pop2014 = pop2014[cols]

In [16]:
pop2014.rename(columns={'code_commune_complet': 'code_commune'}, inplace=True)

In [17]:
pop2014.head()

  code_commune  population_totale
0        01001                785
1        01002                241
2        01004              14557
3        01005               1658
4        01006                115

In [18]:
pop2014.to_csv('../../data/population/pop_commune_2014_clean.csv',index=False)