In [1]:
import pandas as pd

In [4]:
annee = str(2015)

In [30]:
    pop = pd.read_csv(
        '/home/yopla/Dropbox/asi/stage/prediction_prix_immobilier/data/population/pop_commune_' + annee + '.csv',
        sep=',', dtype={'Code commune': str})

In [31]:
    pop.columns = ['code_region', 'nom_region', 'code_departement',
                   'code_arrondissement', 'code_canton', 'code_commune',
                   'nom_commune', 'population_municipale',
                   'population_comptee_a_part', 'population_totale']

In [32]:
    pop["code_commune_complet"] = pop["code_departement"] + pop["code_commune"].astype(str)

In [33]:
 cols = ['code_commune_complet', 'population_totale']

In [34]:
    pop = pop[cols]

In [35]:
pop.head()

  code_commune_complet  population_totale
0                01001                785
1                01002                242
2                01004              14631
3                01005               1652
4                01006                115

In [14]:
cols = ['COM', 'P14_POP', 'P14_POP0002', 'P14_POP0305', 'P14_POP0610',
'P14_POP1117', 'P14_POP1824', 'P14_POP2539', 'P14_POP4054',
            'P14_POP5564', 'P14_POP6579', 'P14_POP80P', 'P14_POP0014',
            'P14_POP1529', 'P14_POP3044', 'P14_POP4559', 'P14_POP6074',
            'P14_POP75P', 'P14_POP0019', 'P14_POP2064', 'P14_POP65P',
            'P14_POPH', 'P14_H0014', 'P14_H1529', 'P14_H3044', 'P14_H4559',
            'P14_H6074', 'P14_H75P', 'P14_H0019', 'P14_H2064', 'P14_H65P',
            'P14_POPF', 'P14_F0014', 'P14_F1529', 'P14_F3044', 'P14_F4559',
            'P14_F6074', 'P14_F75P', 'P14_F0019', 'P14_F2064', 'P14_F65P',
            'C14_POP15P', 'C14_POP15P_CS1', 'C14_POP15P_CS2', 'C14_POP15P_CS3',
            'C14_POP15P_CS4', 'C14_POP15P_CS5', 'C14_POP15P_CS6',
            'C14_POP15P_CS7', 'C14_POP15P_CS8', 'C14_H15P', 'C14_H15P_CS1',
            'C14_H15P_CS2', 'C14_H15P_CS3', 'C14_H15P_CS4', 'C14_H15P_CS5',
            'C14_H15P_CS6', 'C14_H15P_CS7', 'C14_H15P_CS8', 'C14_F15P',
            'C14_F15P_CS1', 'C14_F15P_CS2', 'C14_F15P_CS3', 'C14_F15P_CS4',
            'C14_F15P_CS5', 'C14_F15P_CS6', 'C14_F15P_CS7', 'C14_F15P_CS8',
            'P14_POP_FR', 'P14_POP_ETR', 'P14_POP_IMM', 'P14_PMEN',
            'P14_PHORMEN']

In [19]:
cols = map(lambda x : x.replace('C14','C'+end_annee).replace('P14','P'+end_annee),cols)

In [20]:
pop = pop[cols]